name: Rails Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://rails:password@127.0.0.1:5432/rails_test"
      POSTGRES_HOST: 127.0.0.1
      POSTGRES_USER: vulcan
      POSTGRES_PASSWORD: password
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby_version: '3.4.7'
          bundler-cache: true
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'yarn'

      - name: Install JS dependencies
        run: yarn install

      - name: Set up database
        run: bin/rails db:prepare

      - name: Seed email templates
        run: bundle exec rake db:seed_manual_email_templates

      - name: Precompile assets
        run: bin/rails assets:precompile

      - name: Run rails test
        run: bin/rails test

      - name: Run system test
        run: bin/rails test:system
